*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden;
}


 



        
/* TOP NAV */

/* .top_nav_1 span {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}


.top_nav_2 {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.top_nav_2 .auth {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.top-nav a {
    color: white;
    text-decoration: none;
}


.btn-top-nav {
    padding: 0.35rem 1rem;
    border: none;
    background: #d93853;
    border-radius: 20px;
}

.btn-top-nav a {
    color: white;
    font-weight: 600;
} */ */



/* RESET (recommended) */


/* Space for fixed nav */
.top-space {
    height: 60px;
}

/* TOP NAV BASE */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 6%;
    background: #264653;
    color: white;
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    flex-wrap: wrap; 
}

.top_nav_1 {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.top_nav_1 span {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

/* RIGHT SECTION */
.top_nav_2 {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.top_nav_2 .auth {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


.top-nav a {
    color: white;
    text-decoration: none;
}


.btn-top-nav {
    padding: 0.35rem 1rem;
    border: none;
    background: #d93853;
    border-radius: 20px;
}

.btn-top-nav a {
    color: white;
    font-weight: 600;
}

/* ========================= */
/* 📱 MOBILE RESPONSIVENESS */
/* ========================= */
@media (max-width: 768px) {
    .top-nav {
     display: none;
    }
}

/* ========================= */
/* 📱 SMALL PHONES */
/* ========================= */
@media (max-width: 480px) {
    .top_nav_1 {
        flex-direction: column;
        gap: 0.4rem;
    }

    .top_nav_2 {
        flex-direction: column;
        gap: 0.4rem;
    }
}



/* To main nav bar */


.logo-head {
    font-size: 1.5rem;
    color: #264653;
}

.navbar {
    position: fixed !important;
    top: 2.5rem;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 9999;
}


.logo-box {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #d93853;
}
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.logo{
    height: 45px;
}

/* To Hero Section */

.hero-section {
    min-height: 90vh;
    background:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("/img/new-mission-9.jpg");
    background-size: cover;
    /* background-position: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: center;
    padding: 0 6%;
    color: white;
}


.hero-section > div {
    max-width: 800px;
     padding-top: 50px;
}


.hero-section h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero-section h3 + h3 {
    margin-bottom: 1.2rem;
}

.hero-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
    color: #f1f1f1;
}



.btn-hero{
    background-color: transparent;
    border: none; 
    color: white;
    border-style: solid ;
    border-color: white;
    border-width: 0.15rem;
    padding: 15px;
    border-radius: 3rem;
    font-weight: 800;
    transition: 0.3s ease-in;
    
}

.btn-hero a {
    color: white;
    text-decoration: none;
}


.btn-hero:hover{
   background:#264653;
   color: white;
   transform: scale(1.05);
}




/* to why us  */
.why-us {
    padding: 4rem 2rem;
    text-align: center;
    color: #1a5f7a;
}

.why-us h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

.feature-box {
    padding: 2rem;
    color: white;
    border-radius: 8px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.feature-box i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.feature-box h4 {
    margin-bottom: 0.5rem;
}

.feature-box p {
    font-size: 0.9rem;
}


.feature-box:hover {
    transform: translateY(-8px);
}


.teachers {
    background-color: #1e40af; 
}

.excellence {
    background-color: #15803d; 
}

.facilitie {
    background-color: #b45309;
}

.discipline {
    background-color: #7c2d12;
}


/* ===== Welcome Section ===== */
.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 8%;
}


.welcome-text {
    flex: 1;
}

.welcome-text > h2{
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #1a5f7a;

}


.welcome-text p{
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 15px;
}


.welcome-image {
    flex: 1;
}

.welcome-image img {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    display: block;
}

.read-more-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6rem 1.5rem;

    font-size: 0.9rem;
    font-weight: 600;
    color: #264653;

    text-decoration: none;
    border: 2px solid #264653;
    border-radius: 30px;

    transition: all 0.3s ease;
}

.read-more-btn:hover {
    background-color: #264653;
    color: #fff;
}


/* to progammes offere home */
.programmes {
    width: 100%;
}

.programme-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh; 
}

.programme-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    font-size: 2rem;
    
}

.nursery { 
    background: url("/img/creache_image.jpg") center/cover no-repeat; 
}

.kindergarten { 
    background: url("/img/kindergarten_3.jpg") center/cover no-repeat;
 }

.primary {
     background: url("/img/lower_primary_9.jpg") center/cover no-repeat; 
    }


.jhs { 
    background: url("/img/new-mission-9.jpg") center/cover no-repeat;
 }

.programme-box h2 {
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    

}

.programmes h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #1a5f7a;

    
}


/* to facilities section */

.facilities {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #f5f5f5;
}

.facilities h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}


.facilities-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


.facility-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 300px; 
}


.facility-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.facility-box:hover img {
    transform: scale(1.1);
}


.facility-box .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 1.5rem;
    transform: translateY(100%);
    transition: transform 0.4s ease;
}


.facility-box:hover .overlay {
    transform: translateY(0);
}

.facility-box h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: white;

}

.facility-box p {
    font-size: 0.95rem;
    line-height: 1.4;
}


.facilities h3{
    color: #1a5f7a;

}

/* to partners */
.partners {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #f5f5f5;
}

.partners h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #1a5f7a;

}

.partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.partner img {
    max-width: 150px;
    
    
}


.site-footer {
      background: #264653;
    color: #fff;
    padding: 3rem 2rem 1rem 2rem;
}

.footer-top {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: 1rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin-bottom: 0.5rem;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #1e40af;
}

.footer-contact p a {
    color: #fff;
    text-decoration: none;
}

.footer-contact p a:hover {
    color: #1e40af;
}

.footer-social a {
    color: #fff;
    margin-right: 1rem;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #1e40af;
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #333;
    font-size: 0.85rem;
    color: #bbb;
}







/* media for footer*/
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links, .footer-contact, .footer-social {
        margin-top: 1.5rem;
    }

    .footer-social a {
        margin-right: 0.7rem;
    }
}


/* media query for parnters section */
@media (max-width: 600px) {
    .partners-logos {
        gap: 1.5rem;
    }

    .partner {
        flex: 1 1 120px; 
        max-width: 150px;
    }
}




@media (max-width: 768px) {
    .facilities-grid {
        grid-template-columns: 1fr;
    }

    .facility-box {
        height: 250px;
    }
}


@media (max-width: 768px) {
    .programme-grid {
        grid-template-columns: 1fr;
        height: auto;
    }

    .programme-box {
        height: 50vh;
    }
}




/* to main nav bar media */


@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;

       
        display: none;
        flex-direction: column;
        text-align: center;

        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }

    
    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        padding: 1rem 0;
        border-bottom: 1px solid #eee;
    }

      .navbar{
        position: fixed;
        top: 0;
    }
}






/* to hero section media  */
@media (max-width: 992px) {
    .hero-section h3 {
        font-size: 2rem;
    }
}


@media (max-width: 600px) {
    .hero-section {
        min-height: 80vh;
        padding: 0 5%;
        background-position: center;

    }

    .hero-section h3 {
        font-size: 1.9rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .btn-hero {
        padding: 0.8rem 2.2rem;
    }
}


/* To welcome section media */

@media (max-width: 992px) {
    .welcome-section {
        padding: 50px 5%;
        gap: 30px;
    }

    .welcome-text h2 {
        font-size: 2rem;
    }
}


@media (max-width: 768px) {
    .welcome-section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-section {
    padding-top: 80px;
}
    .welcome-text h2 {
        font-size: 1.8rem;
    }

    .welcome-text p {
        font-size: 0.95rem;
    }

    .welcome-image {
        margin-top: 20px;
    }

    .welcome-image img{
        width:100%;
    }
}


@media (max-width: 480px) {
    .welcome-text h2 {
        font-size: 1.6rem;
    }

    .welcome-text p {
        font-size: 0.9rem;
    }
}